<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513854974248-1bb6tmipdlq87pqkmidcvv4c4ft47eqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513854974248-1bb6tmipdlq87pqkmidcvv4c4ft47eqm</string>
	<key>API_KEY</key>
	<string>AIzaSyB0BobS5JLXWb23ApvxgCm_5pmXvuK9ym8</string>
	<key>GCM_SENDER_ID</key>
	<string>513854974248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animateon</string>
	<key>PROJECT_ID</key>
	<string>animateon-ccecc</string>
	<key>STORAGE_BUCKET</key>
	<string>animateon-ccecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513854974248:ios:681ddccbd72365b63a481d</string>
</dict>
</plist>